{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Influencer Management Portal API</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'drf_spectacular_sidecar/swagger-ui-dist/swagger-ui.css' %}">
    <link rel="icon" href="{% static 'drf_spectacular_sidecar/swagger-ui-dist/favicon-32x32.png' %}">
</head>

<body>
    <div id="swagger-ui"></div>
    <script src="{% static 'drf_spectacular_sidecar/swagger-ui-dist/swagger-ui-bundle.js' %}"></script>
    <script>
        const ui = SwaggerUIBundle({
            url: "{% url 'schema' %}",
            dom_id: '#swagger-ui',
            presets: [
                SwaggerUIBundle.presets.apis,
                SwaggerUIBundle.SwaggerUIStandalonePreset
            ],
            layout: "BaseLayout",
            persistAuthorization: true,
            requestInterceptor: (request) => {
                request.headers['X-CSRFToken'] = "{{ csrf_token }}"
                return request;
            }
        })
    </script>
</body>

</html>
